.coupon{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
    border: 1px solid var(--primary-color--dark);
    border-radius: 10px;
    width: 100%;
}
.image{
    height: 200px;
    width: 100%;
    background-color: red;
}
.name{
    margin-top: 20px;
}
.code{
    margin-top: 20px;
}
.button{}