.shop{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: 100%;
    border: 1px solid var(--primary-color--dark);
    border-radius: 5px;
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
}